body {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
    font-size: 13px;
    position: relative;
}

#map {
  z-index: 5;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}
h2 {
font-size: 20px;
color: #E42320;
font-family: sans-serif;
font-weight: bolder;
}


#header {
width: 100%;
background-color: white;
height: 90px;
-moz-box-shadow:0 7px 8px -6px rgba(0, 0, 0, 0.3);
-webkit-box-shadow:0 7px 8px -6px rgba(0, 0, 0, 0.3);
box-shadow: 0 7px 7px -6px rgba(0, 0, 0, 0.3);
z-index: 10;
position: absolute;
}

#logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 170px;
}

#newrequest {
height: 25px;
float: right;
margin-right: 13px;
transform: translate(0, 50%);
z-index: 2;
}

#searchAdress {
    position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height:30px;

    box-sizing: border-box;
    border: 2px solid rgba(230, 230, 230, 0.1);
    border-radius: 10px;
    background-color: white;
    background-image: url('sources/searchicon.svg');
    background-repeat: no-repeat;
    padding-left: 30px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

#newReqMenu {
position: fixed;
z-index:11;
top: 56%;
left: 50%;
height: 80%;
width: 88%;
background-color: rgba(255, 255, 255, 0.8);

transform: translate(-50%, -50%);
display: block;
border-radius: 20px;

}

#newReqTextBox form {
margin: 40px;
text-align: center;
color: black;

}

#titleBox, #colorPicker, #locationBox {
  color: #ccc;
  font-size: 14px;

  width: 100%;
  height: 30px;

  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  padding-left: 7px;
}

/*#colorPicker {
  width: 80px;
  height: 30px;
  border: 0px;
  background: none;
  float: right;
  transform: translate(0%, -25%);
}*/

#locationBox {
  background-image: url('sources/currlocactive.svg');
  background-repeat: no-repeat;
  padding-left: 30px;

}

#locationBox:focus {
  background-image: url('sources/currlocinactive.svg');
  background-repeat: no-repeat;
  padding-left: 30px;

}

#submitButton {

width: 90%;
height: 40px;
background-color: white;
  border-radius: 15px;
}
