
html {
  background-color: #F7B32B;
  font-family: sans-serif;
}

header {
  position: fixed;
  float: left;
    margin-top: 5px;
}

header ul {
  list-style-type: none;
}

header ul li {
display: inline-block;
color: #496e88;
margin-right: 30px;
}

main svg {
  z-index: -1;
  position: fixed;
}

main svg text {
  font-size: 10px;
z-index: 1;
}
