@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro');

html {
  background-color: #F7B32B;
  font-family: sans-serif;
}

header {
  position: fixed;
  float: left;
  padding-top: 15px;
  padding-left: 35px;
}

h1 {
  font-family: Playfair;
  font-size: 35px;
  font-weight: bolder;
  color: #F20000;
}

h2 {
  font-size: 17px;
  color: #F20000;
  font-weight: normal;
  margin-top: -27px;
}


main #titles {
  position: absolute;
  width: 230px;
  height: 230px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

main ellipse{
position: absolute;
}

main svg {
  z-index: -1;
  position: fixed;
}

main svg text {
font-size: 13px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: bold;
}

main svg text tspan {
font-size: 10px;
}
