body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

#map {
  z-index: -1;
}

#header {
width: 100%;
background-color: white;
position: relative;
height: 90px;
-moz-box-shadow:0 7px 6px -6px rgba(0, 0, 0, 0.3);
-webkit-box-shadow:0 7px 6px -6px rgba(0, 0, 0, 0.3);
box-shadow: 0 7px 6px -6px rgba(0, 0, 0, 0.3);
}

#logo {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
width: 160px;
}

#plus {
height: 25px;
float: right;
margin-right: 13px;
transform: translate(0, 50%);
}

#searchicon {
  position: absolute;
  top: 73%;
  left: 16%;
  transform: translate(-50%, -50%);
  height:20px;
}

#searchbar {
  color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-45%, -50%);
  width: 65%;
  height:25px;
  border-radius: 10px;

  border-width: 0;

  -moz-box-shadow:    inset 0 0 3px #E6E6E6;
  -webkit-box-shadow: inset 0 0 3px #E6E6E6;
  box-shadow:         inset 0 0 3px #E6E6E6;
}
